body {
  overflow: hidden;
  margin: 0;
  font-family: "Bangers", cursive;
}

.Loader {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  transition: 2s ease;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.Loader .icoloader {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Loader .hirgana {
  font-size: 50px;
  color: white;
  text-shadow: 3px 4px 0px #E81E64;
  font-family: "Sawarabi Mincho", sans-serif;
  animation-name: menacing;
  animation-duration: 1s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.Loader .hirgana:nth-child(1) {
  animation-delay: 0.3s;
}
.Loader .hirgana:nth-child(2) {
  animation-delay: 0.6s;
}
.Loader .hirgana:nth-child(3) {
  animation-delay: 0.9s;
}
@keyframes menacing {
  from, 40% {
    opacity: 0;
    transform: translate3d(-1px, -1px, 0);
  }
  50% {
    opacity: 0.5;
    transform: translate3d(4px, 4px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(-4px, -4px, 0);
  }
}

.Main {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.Main .navbar {
  width: 100%;
  height: 15vh;
  max-height: 60px;
  background-color: white;
  z-index: 3;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
}
.Main .navbar .btn_burger {
  height: 100%;
  border: none;
  width: 100px;
  background-color: white;
  outline: 0;
}
.Main .navbar .btn_burger div {
  width: 50%;
  height: 5px;
  background-color: black;
  margin: 6px 19px;
}
.Main .flex-menucover {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.Main .flex-menucover .menu {
  height: 100vh;
  background-color: black;
  position: relative;
  color: white;
  overflow: hidden;
  background-image: url("../img/hdjojo.jpg");
  background-position: 61% center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display:block; */
  z-index: 2;
  font-size: 1.5em;
  transition: width 0.4s ease;
  box-shadow: 11px 0 15px rgba(0, 0, 0, 0.9);
}
.Main .flex-menucover .menu a {
  text-decoration: none;
}
.Main .flex-menucover .menu a:link {
  color: #F0A202;
}
.Main .flex-menucover .menu a:visited {
  color: green;
}
.Main .flex-menucover .menu a:hover {
  color: #E81E64;
}
.Main .flex-menucover .menu a:active {
  color: blue;
}
.Main .flex-menucover .menu .li-hidden-1 {
  display: none;
}
.Main .flex-menucover .menu .li-hidden-2 {
  display: none;
}
.Main .flex-menucover .menu .li-hidden-3 {
  display: none;
}
.Main .flex-menucover .menu .li-hidden-4 {
  display: none;
}
.Main .flex-menucover .menu .li-visible-1:hover .li-hidden-1 {
  display: block;
}
.Main .flex-menucover .menu .li-visible-2:hover .li-hidden-2 {
  display: block;
}
.Main .flex-menucover .menu .li-visible-3:hover .li-hidden-3 {
  display: block;
}
.Main .flex-menucover .menu .li-visible-4:hover .li-hidden-4 {
  display: block;
}
.Main .flex-menucover .cover {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bgTiles.png);
  background-repeat: repeat;
  animation: 20s linear infinite slide;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Main .flex-menucover .cover .jojotalking {
  width: 100%;
  max-width: 880px;
  height: 100%;
  left: 0;
  position: absolute;
}
.Main .flex-menucover .cover .jojotalking .josephImg {
  width: 100%;
  height: 100%;
  background-image: url("../img/joseph.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 0 right 20%;
  transition: 0.4s ease;
}
.Main .flex-menucover .cover .jojotalking .dialoguebox {
  width: 40%;
  min-width: 300px;
  height: 200px;
  position: absolute;
  top: 150px;
  left: 60%;
  background-image: url("../img/dialogbox.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main .flex-menucover .cover .jojotalking .dialoguebox .textdialogue {
  width: 80%;
  height: 60%;
  margin-bottom: 50px;
  text-align: center;
  font-size: 2em;
  white-space: pre-wrap;
}
.Main .flex-menucover .cover .jojo {
  width: 100%;
  max-width: 680px;
  height: 860px;
  position: absolute;
  bottom: 0px;
  left: 7%;
  background-image: url("../img/jojo.png");
  background-size: cover;
  background-position: top;
}
.Main .flex-menucover .cover .error404 {
  font-size: 6em;
  text-shadow: 0 6px 4px #000000;
  color: #F7F7F2;
  padding-top: 300px;
  margin-left: 25%;
  transition: 0.4s ease;
}
.Main .flex-menucover .cover h2 {
  font-family: "Montserrat", sans-serif;
  text-shadow: 3px 2px 0px black;
}

@keyframes slide {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 356px 482px;
  }
}
@media screen and (max-width: 970px) {
  .Main .flex-menucover {
    display: block;
  }
  .Main .flex-menucover .menu {
    position: absolute;
    opacity: 0.95;
    background-position: center center;
  }
  .Main .flex-menucover .cover .jojotalking .josephImg {
    background-position: bottom 0 right 40%;
    transition: 0.4s ease;
  }
  .Main .flex-menucover .cover .jojotalking .dialoguebox {
    left: 40%;
  }
  .Main .flex-menucover .cover .error404 {
    text-shadow: 4px 2px 4px #000000;
    font-size: 5em;
    text-align: center;
    margin: 5%;
    padding-top: 150px;
    transition: 0.4s ease;
  }
  .Main .flex-menucover .menu-is-open {
    width: 100%;
  }
}
.menu-is-closed {
  width: 0px;
  height: 0px;
  padding-right: 0px;
}

.menu-is-open {
  width: 300px;
  height: 100vh;
  padding-right: 2%;
}

.loader-is-closed {
  display: none;
}

.loader-is-open {
  display: flex;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  background-color: black;
  opacity: 0.8;
}

.uDisappear {
  display: none !important;
}

.uApprear {
  display: block;
}

.fftext {
  font-family: "Montserrat", sans-serif;
}

.fftitle {
  font-family: "Bangers", cursive;
}

.blur {
  transition: 2s ease;
  filter: blur(3px);
}

.animationError {
  animation: 5s ease-in-out infinite wigglyscale;
}

@keyframes wigglyscale {
  from {
    transform: scale(1);
  }
  35% {
    transform: scale(1.1);
  }
  38% {
    transform: rotate3d(0, 1, 0, 0deg) scale(1.1);
  }
  62% {
    transform: rotate3d(0, 1, 0, 360deg) scale(1.1);
  }
  65% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
