@import "_variables.scss";

body{
	overflow: hidden;
	margin: 0;
	font-family: 'Bangers', cursive;
}

.Loader{
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  transition: 2s ease;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	z-index: 2;

   .icoloader{
    width: 100px;
    height: 100px;
    background-color: white;
    }


	}



.Main{
	width: 100vw;
	background-color: white;
	display: flex;
  flex-direction: column;

	.navbar{
		width: 100%;
		height: 15vh;
		max-height: 60px;
		background-color: white;
		z-index: 3;
		box-shadow: 0 10px 25px 5px rgba(0,0,0,0.9);

		.btn_burger{

									height: 100%;
									border: none;
									width: 100px;
									background-color: white;

			div{
				width: 50%;
				height: 5px;
				background-color: black;
				margin: 6px 19px;
			}

		}

	}

	.flex-menucover{
		width:100%;
		height: 100vh;
		background-color:white;
    display: flex;
    flex-direction: row;




		.menu{
		height: 100vh;
		background-color: black;
		position: relative;
		color: white;
		overflow: hidden;
		background-image: url("../img/hdjojo.jpg");

		background-position: 61% center;
		background-repeat: no-repeat;
		background-size: cover;
		/* display:block; */
		z-index: 2;

		font-size: 1.5em;

		transition: width 0.4s ease;

		box-shadow: 11px 0 15px rgba(0,0,0,0.9);


		a{
			text-decoration: none;

			&:link{color:yellow;}
			&:visited{color:green;}
			&:hover{color:red;}
			&:active{color:blue;}

		}


		.li-hidden-1{
			display: none;
		}
		.li-hidden-2{
			display: none;
		}
		.li-hidden-3{
			display: none;
		}
		.li-hidden-4{
			display: none;
		}

		.li-visible-1:hover{
			.li-hidden-1{
				display:block;
			}
		}

		.li-visible-2:hover{
			.li-hidden-2{
				display:block;
			}
		}

		.li-visible-3:hover{
			.li-hidden-3{
				display:block;
			}
		}

		.li-visible-4:hover{
			.li-hidden-4{
				display:block;
			}
		}

		li{

			 list-style-image: url("https://imgur.com/ppjxRWs");

   		}
		}

	.cover{
		position:relative;
		z-index: 0;
		width: 100%;
		height: 100vh;
		background-image: url(../img/bgTiles.png);
		background-repeat: repeat;
		animation: 20s linear infinite slide;
		color:white;
		}
	}

	// @media screen and (max-width:970px){
	// 	.flex-menucover{
	// 		display:block;
	//
	// 		.menu{
	// 			background-position: center center;
	// 		}
	// 	}
	// }
}

@keyframes slide{
	from{background-position: 0px 0px;}
	to{background-position: 356px 482px;}
}





@media screen and (max-width:970px){
	.Main{
		.flex-menucover{
			display:block;

			.menu{
				position:absolute;
				opacity: 0.95;
			}

			.menu-is-open{
				width:100%;
			}

		}
	}
}









































.menu-is-closed{
	width: 0px;
	height: 0px;
	padding-right: 0px;
}

// .slide_cover{
//   margin-left: 250px;
// }

.menu-is-open{
	width: 300px;
	height: 100vh;
	padding-right: 2%;
}

// @media screen and (max-width:970px){
// 	.menu-is-open{
// 		width: 100%;
// 		height: 100vh;
// 		padding-right: 0px;
// 	}
// 	.menu-is-closed{
// 		width: 0px;
// 		height: 0px;
// 		padding-right: 0px;
// 	}
// }




.loader-is-closed{
	display:none;
}

.loader-is-open{
	display:flex;
}

.backdrop{
	width: 100vw;
	height: 100vh;
	z-index: 1;
	position: absolute;
	background-color: black;
	opacity: 0.4;
}

.uDisappear{
	display:none;
}

.uApprear{
	display: block;
}


.fftext{
	font-family: 'Montserrat', sans-serif;
}

.fftitle{
	font-family: 'Bangers', cursive;
}

.blur{
	transition: 2s ease;
	filter:blur(3px);
}
